[2016-03-15 15:21] SaturnusDJ opened #2 "[Issue] Matches not showing"
Same as https://github.com/mfkp/tinderplusplus/issues/41 indeed.

Matches disappear without clear reason. Maybe the cookie drop causes this. Login again via Facebook, but matches still gone. Clearing cache and signing in again doesn't help either.

Sometimes this works: Sign in and wait for some minutes, not even closing the swipe-out-of-people-error. It feels like pure luck. Trial and error until

[2016-03-15 15:31] SaturnusDJ opened #3 "[Discussion] Future and strategy of tinder-desktop"
Hey @mrmayfield

How is it going now? I hope you can provide the latest information on the project.
I see my GUI commits aren't pulled yet.

Best would be to have some kind of strategy going.
Who is on what part of development. Who oversees it all. What are our objectives. Etc.

Talking about this in private is of course an option too.

Cheers!

[2016-03-15 15:46] mayeaux commented on #3
Yup, I agree with this 100%, and let's use this as the place to discuss overall vision. I'm going to open another Issue to discuss GUI changes and I will bring up the changes you've made there :)

[2016-03-15 15:56] mayeaux opened #4 "Discussion [Future of Tinder-desktop GUI]"
Hey @SaturnusDJ ,

Let's use this issue to discuss the design decisions broadly of tinder-desktop.

I've checked out your pull requests and haven't pulled it. For one, there are a couple issues, like the zip file being committed to source, if I was to merge this PR I would ask you to do things like remove that zip file first.

The other is I'm not totally sure exactly what has changed and I've not

[2016-03-15 16:02] mayeaux commented on #3
Here are my personal priorities, and during the weekdays I have a job where I'm mostly working at throughout most of the day so I don't have so much time to work on this project, it will mostly be on the weekend where I can code for this project.
1. Superlike Support <- This will require adding the endpoint for it into the `tinderjs` module, and then wiring it into the app
2. Automatic liking syst

[2016-03-15 16:16] mayeaux commented on #2
I had this same issue before but it cleared up randomly and hasn't happened since. What's basically happening is that the app is using your credentials to use tinderjs and hit Tinders API and taking that response to build out the frontend. I've been tinkering with the tinderjs module and there's times where it can just sputter out and not return anything, I think something can be implemented to fi

[2016-03-15 16:33] SaturnusDJ commented on #4
Hi @mrmayfield

Yes I can remove the unnecessary files when the moment is there. Don't know how to exclude them from pull, that would be easier.

The profile text was centered, I changed it to be aligned left so it would look more like tinder-mobile. Your screenshot clearly shows the disadvantage. I can change it back to be centered. A better solution, in my opinion, would be to still align left b

[2016-03-15 16:36] SaturnusDJ commented on #3
I like your list! Automatic liking I won't use but the others are great and really handy.
If you have a push in the right direction for 'show time in messages' I can already look at it.

[2016-03-15 16:42] SaturnusDJ commented on #2
Sweet.

Little offtopic: Is Tinder able to see we are using an unofficial app? Probably not by the commands, but maybe behavior. Like this match list issue. What annoyed me is how the home page always immediately starts the swipe sequence. That's why I changed the layout in my unstable. The always present static bar basically became the 'home page.'

[2016-03-15 16:45] mayeaux commented on #2
No, unless Tinder has implemented an algorithm to detect programmatic use they won't be detecting us, to them we're just hitting them from an Android device (and I don't think they have implemented something like that tbh).

And I think what the original designer of this app was going for was cloning the Tinder client on a desktop setting, which is why the screen is the shape of a cellphone etc. N

[2016-03-16 18:57] SaturnusDJ commented on #4
Bio adjusted as described above. (Details in commit.)
Inline moved to file.

I just checked what image sizes are natively available from Tinder: 84px, 172px, 320px, 640px. We should make a gallery/lightbox for the 640px.

[2016-03-16 22:14] SaturnusDJ opened #5 "[How-To] Compile"
For this to work the `npm install` command must have been invoked already on root and 'desktop-app' directory.

In 'build.js' and 'newbuild.js' are some config options. For example the version of nwjs can be changed there. It will be downloaded and compiled along with the other stuff.

Open cmd.
Enter the root directory. (One above desktop-app).
`npm install nw-builder`
`node build.js`

There it g

[2016-03-16 22:21] SaturnusDJ commented on #5
One little problem:
After running `npm install` as said above. There are many 'node_modules' installed in the 'desktop-app' directory. Those modules have package.json files. Inside it, there's data about my system. Especially the "_where" metadata. It's getting compiled too... Not so cool.
Maybe some modules aren't even necessary in the compiled version?

[2016-03-18 16:42] SaturnusDJ opened #6 "[Bug] Something with emoji / cookie killer --> need to login to fb again"
Error log:

[bug_emoji.txt](https://github.com/tinderjs/tinder-desktop/files/180048/bug_emoji.txt)

[2016-03-18 18:19] mayeaux commented on #6
How was this bug produced, what steps can I take to try and reproduce it?

[2016-03-19 20:05] SaturnusDJ commented on #6
No idea, it just happens sometimes.

[2016-03-19 21:54] mayeaux commented on #6
Can you post the error log here in this issue rather than a separate text file?

[2016-03-26 22:35] mayeaux opened #7 "Show total number of matches"
If we run

`response = await client.getHistoryAsync ()`

we can find the number of matches by

`response.matches.length`

Would be nice to have this data displayed somewhere

[2016-03-27 15:41] SaturnusDJ commented on #7
![matchcount](https://cloud.githubusercontent.com/assets/14320018/14066163/166bf65e-f443-11e5-93d2-df45b7fad291.png)

How to have it available in HTML?
Put the first line of code somewhere in tinder++.api.js?
I've no idea.

[2016-03-27 16:07] mayeaux commented on #7
Yup no problem, it's somewhat low priority for me at the moment, hoping to have Superlike support up within the next couple hours. I've also made some pretty hilarious bots as well haha.

[2016-03-27 17:25] mayeaux opened #9 "Archive posts"
My bot was just sending hilarious messages with a girl but then she thought Cleverbot said something mean and unmatched. Would still like to have that message so hopefully we set up something where we can archive posts with MongoDB.

[2016-03-27 20:38] SaturnusDJ commented on #7
Since this is a small one, can you explain how to implement it?

[2016-03-27 22:22] mayeaux commented on #7
Somewhere in the code, we are calling client.getHistory and receiving `data` back. From that data, we can look at `data.matches.messages.length` to get the total number of active matches, then will have to pass that to the angular view somehow.

[2016-03-28 11:35] amo13 commented on #5
Hey guys, thanks a lot for making this desktop application!
But since I am also experiencing the getting no matches issue and compiling stuff myself is asking to much of me =( could you please upload a compiled exe into the release channel here? I am still using 1.2.1 from the @mfkp repo, and I guess it shouldn't be too much an effort for you since you have to compile anyway ;)

[2016-03-28 11:38] SaturnusDJ commented on #5
@amo13
Do you need win or osx?

[2016-03-28 11:39] amo13 commented on #5
I use ArchLinux, but the 1.2.1 version runs fine on wine, so win version would be perfect for me. But I imagine that mac users could be thankful too if you upload the dmg ;)
Thanks dude!

[2016-03-28 11:52] SaturnusDJ commented on #5
http://members.home.nl/saturnusdj/Tinder/

There is a compiled version of my unstable branch (https://github.com/SaturnusDJ/tinder-desktop/tree/unstable).
However 'unstable' I didn't find any problems the last week.
Let me know if it works please and what you think of it.

[2016-03-28 12:16] SaturnusDJ commented on #7
Yeah
`client.getHistory(function(err, res) {`
is in tinder++.api.js
(In my 'unstable' branch, that should be stable and bugless now, I removed function data, because it's called nowhere.)

I tried to understand, but from here I am clueless already.

[2016-03-28 15:05] mayeaux commented on #5
Hey guys.

I am in the process of creating a new build script that is less buggy: newbuild.js, and I've tested it on Mac successfully but haven't finished it (with things like icons etc) nor gotten it up for Windows. I'll try and do that sometime today or tomorrow then get the executables up here for download. 👍 Feel free to ping me here for a reminder :)

[2016-03-28 15:14] mayeaux commented on #7
Don't worry, I will add it eventually, although it is pretty low priority.

What do you mean when you say you removed function data?

[2016-03-28 15:19] SaturnusDJ commented on #7
True I know, but I want to understand all the code. Very hard.

It's shown here: https://github.com/SaturnusDJ/tinder-desktop/commit/48f2c401f3076a221cc34d07d2dbbd85195eb2c3

App still working so I guess it's ok.

[2016-03-28 15:36] SaturnusDJ commented on #5
Does it solve https://github.com/tinderjs/tinder-desktop/issues/5#issuecomment-197582870?

[2016-03-28 16:01] mayeaux commented on #5
node_modules is ignored by Git, the compiled apps don't contain a node_modules either

[2016-03-28 16:04] SaturnusDJ commented on #5
On OSX I have.

45 dirs.

[2016-03-28 16:15] mayeaux commented on #5
Wow good point. What happens when you build it into a .dmg file and then install it to another directory?

[2016-03-28 16:37] SaturnusDJ commented on #5
On OS X it's dropping this error. :confused:

[2016-03-28 17:16] SaturnusDJ commented on #5
Fixed with this commit: https://github.com/thlorenz/proxyquire/commit/16f66f3f811cd615b8a1ff520a89e3fee6bad8db?diff=unified

[2016-03-28 17:19] SaturnusDJ commented on #5
And here the outcome: 45 dirs still inside.
Most likely the same for Windows, except for Windows they really get compiled and thereby not browseable/findable anymore after compile.

[2016-03-28 18:07] SaturnusDJ commented on #5
It is as if @mfkp did some kind of reverse npm install before compiling. Package.json in modules moment/nw-updater/tinderjs in .dmg from tinderplusplus.com is very different than the ones that come from the npm install command.

[2016-03-28 18:27] mayeaux commented on #5
Yeah I found there were a lot of issues with the build script so I just started to make my own. The reason this _where thing is being added is because of the new version of Node/NPM (5+ and 3+). I'm asking the guys @ NPM about it and how to fix it, maybe you want to open a question on SO as well

[2016-03-28 18:41] SaturnusDJ commented on #5
Nice! That will fix it.

The other thing we might need to look at are all the versions and paths.
For example desktop-app/package.json has appdmg 0.3.1 mentioned. At this moment a newer is available. Not really a problem, but some modules/packages generate errors saying support is ending.
Or something else: The two main package.json files need to have the version updated when doing a new compile.

[2016-03-29 14:26] amo13 commented on #5
@SaturnusDJ thanks for your compiled exe!
It does work, but I have 2 bugs: not getting matches is not solved for me; and I regurlarly (sometimes even after 5 swipes) I get the message "out of people", even though I didn't change my location at all.
Is this also fixed with the latest commits?

[2016-03-29 14:38] SaturnusDJ commented on #5
You mean your matches don't get loaded?
Suggestion:
Clear all cache. Then start app, login and wait for 10 minutes.

I don't know if 'out of people' really is a bug. Try extending the discovery range on phone, or sometimes even starting the app on phone will bring more swipes.

[2016-03-30 18:42] amo13 commented on #5
I guess you mean the cache of the phone? Unfortunately, I don't have tinder on my phone, since I don't have any gapps on it and tinder won't work without it.
Or is there something cache-wise I can do on the computer?

[2016-03-30 18:50] SaturnusDJ commented on #5
7: C:\Users\USERNAME\AppData\Local\TinderPlusPlus
XP: C:\Documents and Settings\USERNAME\Local Settings\TinderPlusPlus

[2016-03-31 19:32] ghost commented on #5
upon compilation, platform set to win32, i've had this issue with the previous iteration of this app:

Error: Cannot find module 'moment'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:273:25)
    at Module.require (module.js:362:17)
    at require (module.js:378:17)
    at window.require (<anonymous>:4:17)
    at file:///C:/Users/user~1/AppData/

[2016-03-31 19:41] SaturnusDJ commented on #5
In the directory where the files are, does "desktop-app\node_modules\moment\" exists?

[2016-04-01 02:15] ghost commented on #5
No, would this be a result of compiling it without running `npm install` in both the root and the desktop-app folders? If so, I keep trying to run the command, but it always returns with:

I'm trying this on Windows 7 x64, I tried earlier on Ubuntu 15.10 x86.

[2016-04-01 05:22] SaturnusDJ commented on #5
Yes, you need to run `npm install` in both directories.
For the root dir, you can edit the package.json file and temporary take out the line containing appdmg.

[2016-04-01 19:54] SaturnusDJ opened #10 "[Feature] Superlike"
@mrmayfield
How is superlike support going?

[2016-04-02 04:31] mayeaux commented on #10
85% of the way there. I got the endpoint added to the forked version of tinderjs, got that version of tinderjs integrated into the desktop-app and then found where to add the code and thought of a way to do it, just haven't implemented it. Will probably get a chance next weekend, this weekend will be super busy, but it's my next no. 1 priority as far as Tinder hacking stuff goes

[2016-04-02 12:03] SaturnusDJ commented on #10
Cool.
I added the tinderjs fork in my thing too now, manually downloaded. Then added the following to tinder++.swipe.js:

[code]

So the up key should register superlike, but I have no idea if it works. When pressing up, the current card is processed but also an error is being displayed.

[2016-04-02 16:54] mayeaux commented on #5
Yes.

Appdmg is regarding building out icons for Mac applications. See if you can remove the dependency and the relevant lines of code, it could be possible to change the build script to not include anything to do with Mac compilation, perhaps that will work.

[2016-04-02 16:56] mayeaux commented on #10
Yeah, `superLike` doesn't reference anything in this case. And I'm not going to be using the cards module, I was thinking perhaps I would but I am going to use a 'swal' alert that lets you know you've just superliked and will let you know how many you have left as well.

[2016-04-02 16:57] mayeaux commented on #6
Frankly, I think I'm going to rework the emoji setup, it doesn't work very well and the emojis are hella ugly.

[2016-04-02 16:59] SaturnusDJ commented on #10
Okay, how will a user send a superlike then? With button?

[2016-04-02 17:00] mayeaux commented on #10
I'll still bind to the keyboard up event

[2016-04-02 17:03] SaturnusDJ commented on #10
Bummer for full OS tablet users. :stuck_out_tongue_closed_eyes:

Apart from that, maybe we should add the pictured buttons for the actions too, like on tinder mobile.

[2016-04-03 14:07] amo13 commented on #5
sorry I'm kinda late with replying...
Clearing the cache seemed to help, thanks a lot!
Unfortunately the out of people thing keep reappearing after only 10 swipes, but I guess without the app on the phone there's no workaround for now...

[2016-04-03 17:27] mayeaux commented on #5
Hey @amo13 , that error is coming from the Tinder API returning 'recs exhausted' when it searches for new people. Can you test with the Tinder mobile client that there are actually more people in your area? It could very well be that you've swiped for all the people in your area.

[2016-04-03 17:28] mayeaux commented on #5
Or change the matching area via the Tinder mobile client to a larger area and see if that helps. I don't _think_ it's actually a problem with tinder-desktop, although it could be

[2016-04-03 17:33] amo13 commented on #5
Well, I don't have the mobile app on my phone because it won't work without google apps (especially GCM I guess) and I use an AOSP rom without any google apps. Therefore I also can't set the search distance, but the last time I used it on a phone, I set it to quite a long distance, and I am still getting matches that are 20 miles away :/
But honestly, I can't imagine that there are no more people

[2016-04-03 17:34] ghost commented on #5
Download an Android emulator with Google Play services enabled, such as BlueStacks.

Ah yes, I removed those OS X specific parameters and the compilation went fine afterwards. I can't believe I didn't realise that sooner >.<

Thanks for the help.

[2016-04-03 17:42] mayeaux commented on #5
Hey @amo13 , yes I would download Bluestacks emulator and then install the Tinder app. It works pretty well actually, that should get you around not having a mobile device. Amo13, are you building the app using nodewebkit or are you using a compiled version?

Nice @wake-n-bake , glad to hear it. Truthfully I am purposefully neglecting a lot of frontend/compliation stuff in the meantime as I contin

[2016-04-03 17:46] ghost commented on #5
I'm thinking I want to be able to contribute to the project, is there any up-to-date documentation on the Tinder API available? Perhaps I'll do some tinkering and get some excluded features up and running.

[2016-04-03 17:50] amo13 commented on #5
I'm using a compiled version that @SaturnusDJ provided me. I don't know how to compile stuff myself and to be honest, I don't really want to mess around with that ;)
@wake-n-bake there's no bluestacks for linux but I might try genymotion... thanks for the hint!

[2016-04-03 18:27] mayeaux commented on #5
@wake-n-bake , this is the unofficial watering hole from documenting the Tinder API:

https://gist.github.com/rtt/10403467

The client that we're using is at http://www.github.com/tinderjs/tinderjs . That module (tinderjs) could use support for unmatch, and updating all sorts of user info (match distance, bio, blah blah blah, anything that's not picture uploads which are a bit more complex).

[2016-04-03 18:28] mayeaux commented on #5
And @amo13 , I just ran into the same issue while doing some dev. I can verify that it's because attempting to get new users is running into the `recs-timeout` error, which means you are querying their API for an update too much and they don't let you get new 'recommendations' as they're called for 30 minutes. I'm uncovering a lot of stuff in this app that isn't really structured optimally, I thin

[2016-04-03 18:48] amo13 commented on #5
Oh I see, well if it gets fixed, I would be very thankful to get a compiled exe
=)

[2016-04-03 19:08] mayeaux commented on #5
Were you logging in / out a lot, or were you just swiping like normal and then it timed out? Were you swiping quite a lot?

[2016-04-03 20:08] mayeaux commented on #5
@wake-n-bake , and anybody else who is interested, I got us a Slack channel up! :)
 https://slack.tinderjs.com

[2016-04-03 21:18] amo13 commented on #5
I was not logging in/out a lot, not swiping a lot, I don't know. The last scenario was like: Didn't connect for 3 days, start this application, swipe normally, and before the 10th swipe, I run out of people. I didn't change location or preferences.
And with this happening, you can imagine that I didn't swipe away all the tindering city in the last two weeks ;)
Thanks for troubleshooting and for lo

[2016-04-05 17:34] Ajeey opened #13 "[Improvement] Show a loading spinner next to "Loading..." text"

[2016-04-05 21:29] mayeaux commented on #13
Merged PR 12

[2016-04-05 21:29] #13 closed, assigned to nobody

[2016-04-07 10:42] SaturnusDJ commented on #5
What you are saying makes sense to me. I have a similar experience, where swiping stack turns empty surprisingly fast.

[2016-04-09 05:40] mayeaux opened #17 "Frontend refactor needed: ability to see largest Tinder photos"
Tinder supplies photos as 720px by 720px I believe. I've checked some of these photos out, they're great! We need to get this incorporated so we can see our match's photos better. It should be available on when matching and although through the profile view.

[2016-04-09 05:42] mayeaux opened #18 "UI Refactor"
We should take advantage of the entire screen as we could use the space very well. Hopefully with fallback to more tablet view via  responsive design. We should also try and incorporate as many shortcuts as possible, so your hands never have to leave the keyboard when viewing different recommendations, matches, etc.

[2016-04-09 05:43] mayeaux commented on #10
Icons will eventually be added for superliking / unmatch, and then also likely swipe left / swipe right as well.

[2016-04-09 05:44] mayeaux commented on #6
Can you post the error here?

[2016-04-09 05:46] mayeaux commented on #2
Something to do with the token expiring (or being invalidated by Tinder).

Solution right now is to logout/close app, reopen app, login.

[2016-04-09 08:42] SaturnusDJ commented on #17
84px, 172px, 320px, 640px, unless there is another image url.
It is available by changing the current image number inside `{{user.photos[photoIndex].processedFiles[0].url}}` for matches
and `{{user.photos[user.photoIndex].processedFiles[1].url}}` for swipes.
0=640.

[2016-04-09 08:53] SaturnusDJ opened #20 "[Feature] Cache getRecs results when navigating to other pages"
At this moment when you go from swipes to somewhere else and then returning to the swipe page, another swipe card is displayed. In other words, the swipe process is re-initiated.
I believe this is one of the causes that eventually locks up the swiping and resulting in the 'Out of people' messages while there actually are enough swipes left. And even if it's not, it's still not so nice.

Suggestion

[2016-04-09 09:01] SaturnusDJ opened #21 "[Feature] Clear cache from within application"
A logout doesn't clear the cache fully.
I remember some people fixing problems by removing all content of the directory, including myself.
Now I see @stuwil having a problem with it.

Let's have a nice button to clear the cache, and/or at least have it done fully when logging out.

[2016-04-09 11:06] SaturnusDJ commented on #10
I just merged this into the version I am using.

Two issues:
1. I superliked two chicks. This should not be possible since I don't have a premium account. Is tinder-desktop using a way to superlike more than normally possible or is the 1-per-day-limit error not implemented yet?
2. Had to run `npm install tinder` manually to get the new tinderjs downloaded, `npm install` did not do the job.

[2016-04-09 13:07] mayeaux commented on #17
Thanks @SaturnusDJ , what do you think of the overall strategy to incorporate the larger photos into the app?

[2016-04-09 13:09] mayeaux commented on #10
As to 1) no, it's because I haven't finished the functionality to limit the calls to superlike, any superlikes once you've run out are probably returning back as failed superlikes from the API. Will take me ~1 hour to fix and then the functionality should be complete.

2) Will check the package.json, although it _should_ be installing `tinder` module by default.

[2016-04-09 13:12] mayeaux commented on #21
Yeah I think the proper thing to do here will be to make sure that the cache is actually removed upon logout. It's _supposed_ to do that from my reading of the source but I tend to agree with you guys that the xAuthToken being cached after its already expired is causing some issues. (Educated guess)

The other thing that could probably solve the issue is having some functionality that will automat

[2016-04-09 13:17] mayeaux commented on #20
Yes I agree with you 100%, and you're actually right that this is what is causing the 'Out of people' thing to appear The results from the initial .getRecs call should be cached until they've all had their card thrown (ie been swiped left or right or superliked). The code base should lend itself to this feature as well so I'm +100 on this.

[2016-04-09 13:33] #6 closed, assigned to nobody

[2016-04-09 13:33] #4 closed, assigned to nobody

[2016-04-09 13:42] mayeaux opened #22 "Allow update profile functionality from settings page"
We either need to create a new page for updating a profile, or drop it on the settings page

This page should allow changing things like:
- Search proximity for recommendations
- Age ranges for matches
- Passport feature of TinderPlus
- Algorithm change for TinderPlus (new feature, would be really nice to have this in the app!)

A lot of these endpoints will either need to be sniffed, or found in

[2016-04-09 13:44] mayeaux opened #23 "Fix emoji functionality"
Twemoji is spewing errors nonstop saying `cannot read property childNodes of undefined`

Needs to be fixed, makes dev really difficult. Honestly I'm not even sold on the twemoji module, the emojis look a little ugly/nonstandard, I'm pretty sure there is a better option which would be nice to be incorporated (we can use the same filter pattern though)

[2016-04-09 13:46] SaturnusDJ commented on #10
Nice, good job anyways!

For issue 2 I don't know exactly how and what. Might run fine on a clean repo.

[2016-04-09 13:54] mayeaux opened #24 "Show time messages were sent in the messages page"
Currently we don't display any information for when messages were sent

Good is functionality that displays those times, better is functionality that allows someone to click the message and then have the time pop up either directly above it or below it like seen in Facebook Messenger

[2016-04-09 14:10] mayeaux commented on #10
Yeah I think 2 shouldn't really be too much of an issue, it _is_ there in the package.json, we'll see if anyone else mentions it

In meantime, you should check out http://www.tinderjs.com and come join the Slack channel! :D

[2016-04-09 14:14] SaturnusDJ commented on #17
At this moment I have it in both master and unstable in this way:
Click 320px photo to open the 640px photo. Only in profiles of matches though, it behaves strange at the swipping page.

It's going to be a challenge if we want to use 640px in profile by default.
Even on my 1920x1200 desktop screen it looks huge.

![640_view](https://cloud.githubusercontent.com/assets/14320018/14403987/e17a5390-fe6

[2016-04-09 14:19] SaturnusDJ commented on #10
Haha going good!
Slack says I need an invite.

[2016-04-09 14:21] mayeaux commented on #17
I've got a little design scribbled down that should work. I will probably come back to this later in the day and see if I can get a chart written out. But basically on the far left will be the 640x640 picture, then on the right stacked on top on top of eachother are thumbnail pics you can click to enlarge it to the 640x640 space, and then the bio is to the right of that. Ideal will be when we can

[2016-04-09 14:24] mayeaux commented on #10
If you go to that tinderjs.com link above you can email yourself an invite

[2016-04-09 14:24] SaturnusDJ commented on #22
That would be awesome and probably after this no phone needed anymore.

From npm tinder:

That is working right?

[2016-04-09 14:25] SaturnusDJ commented on #10
Ah cool, done. That wasn't yet there 5 minutes ago.

[2016-04-09 14:30] SaturnusDJ commented on #22
![settings](https://cloud.githubusercontent.com/assets/14320018/14404166/26f67c6a-fe70-11e5-98c8-47987160adaa.png)

:smiley:

[2016-04-09 14:43] SaturnusDJ commented on #23
I agree that the current emoji don't look good. Apple's emoji have my preference.

Maybe something usefull here: https://www.npmjs.com/search?q=emoji
https://github.com/node-modules/emoji

[2016-04-09 14:47] SaturnusDJ commented on #17
Going more widescreen is a solution indeed.
What I like concerning the current design is that when someone doesn't have a bio, there is no space lost. When the bio gets a horizontal place, this becomes harder.

[2016-04-09 14:57] mayeaux opened #25 "Show whether match is a superlike from messages page"
There needs to be something added in the UI that indicates whether a user is a superlike or not

My best bet is to add it with the 'Display Match Conversation Summary' details section, probably a little star icon if is_superlike is true for a given match

[2016-04-09 14:58] mayeaux opened #26 "Send a electron notification when a new message is received"
This one is a little tricky because of how the updating of message threads are done in tinder-desktop and how it interfaces with lastActivity. Very useful feature though

[2016-04-09 15:00] mayeaux commented on #17
With the design I have, the bio is displayed under their name and age , so we won't lose any space if there's no bio. Maybe we can even incorporate instagram photos just like is done in Tinder mobile client. :)

[2016-04-09 15:11] mayeaux commented on #22
Hm, that's actually really nice haha ! My only concern is that when we move to widescreen those icons will be spaced out too far. Maybe we stick them all beside eachother on the right hand side, with a logout icon as well, and then some branding in the left corner

[2016-04-09 15:12] mayeaux commented on #22
And yes, .updatePreferences is working, @stuwil is sniffing out a lot of the endpoints right now so there will be more added that will be used in this section soon

[2016-04-09 15:23] SaturnusDJ commented on #25
Yeah indeed! To me it would be important to be always visible apart from 'Display Match Conversation Summary.'

Maybe like this:
Given superlike -> blue heart.
Received superlike -> red heart.
Both superliked -> purple heart.

[2016-04-09 15:50] mayeaux commented on #25
Yup, I like it. 👍 I think even this will be an improvement over the actual client, because I don't know if you can tell who superliked who on the mobile client

[2016-04-09 17:19] SaturnusDJ commented on #5
Compiling doesn't work anymore. Not really clear why. The process of downloading nwjs hangs often, or status isn't updated in terminal (probably latter).

I reinstalled git and nwjs and redownloaded my repo as clean.

I'm pretty sure something external changed. But what. This sucks...

[2016-04-09 17:29] SaturnusDJ commented on #5
Ok ofcourse, as always, minutes after posting getting it working again.

Manually downloaded nw.js and extracted it to the cache folder.

[2016-04-09 20:50] mayeaux commented on #10
Still to do: Perhaps a countdown until you can superlike again?

[2016-04-09 22:27] mayeaux commented on #23
I just removed twemoji from the swipe page, it only errors there. Will hopefully replace this with a dif module soon

[2016-04-09 22:32] mayeaux opened #35 "Change all branding to tinder-desktop"
Anywhere there is Tinder++, we should update to new branding: tinder-desktop

[2016-04-09 22:34] mayeaux opened #36 "Show amount of pending new messages"
If you have 3 new messages while you are on the Swipe page, you should be able to see (like you can see with amount of Facebook notifications)

[2016-04-10 16:59] run1t opened #39 "NW 0.13.x compatibility"
For the moment it's impossible to login with the 0.13.x version of nw, you should have those errors :
<img width="581" alt="capture d ecran 2016-04-10 a 19 58 37" src="https://cloud.githubusercontent.com/assets/6145328/14411620/ca17e39a-ff5e-11e5-872d-11614dcb5930.png">

[code]

[2016-04-10 17:33] mayeaux commented on #39
Yeah I am pretty familiar with this section of the code. It looks like the automatic URL checker that finds the token is not working properly. Should be a relatively simple fix

[2016-04-10 17:50] SaturnusDJ opened #41 "Better Instagram integration"
At this moment when clicking a Instagram username, a new window opens.
That's okish, but the connection made to that Instagram page is public, so to say, instead of through Tinder. Some users have their pictures hidden from public. We can't see their pictures using Tinder Desktop, but we **can** using Tinder mobile.
So we should add code that opens Instagram of the person the same way as Tinder mo

[2016-04-10 17:53] mayeaux commented on #41
Interesting. So you're saying when Tinder mobile app displays instagram pics, it will show photos of people whose profiles are private?

[2016-04-10 17:57] SaturnusDJ commented on #41
That's right.
Double checked 10 seconds ago.

[2016-04-10 18:01] mayeaux commented on #41
Wonder how they do it. Have pinged @run1t to possibly check out

[2016-04-10 18:05] SaturnusDJ commented on #41
Wild guess: User gives permission by linking Instagram, then Tinder receives some kind of token which they embed in a user profile. Then we send the token to Instagram and receive the content. Some kind of API access. But that's not my expertise.

[2016-04-10 18:15] mayeaux commented on #41
The first part of fetching a token is correct, through oAuth. But there's no way that token is passed to the client via the server. Probably tinder presents that token to instagram and then serves the thumbnails to the client.

[2016-04-10 20:28] run1t commented on #41
I will do that in 2 days I think

[2016-04-10 20:29] mayeaux commented on #41
Lol these things are so low priority in my opinion though. :( Up to you guys ultimately what to work on but I think there's way, way more relevant things

[2016-04-10 22:24] run1t commented on #41
If we take for a example a profile who have a instagram account linked if you go to the mobile client you have only 30 photos and after a link to the account of the user. Maybe the privates photos are in this 30 photos, if it's that, this will be enough :

[code]

otherwise after to those 30 photos, it's a redirect to the instagram app. So I don't think that we can get all the privates photos of u

[2016-04-11 01:09] stuwil commented on #5
@SaturnusDJ, can you check out the changes in 5d55a29cbe2101c6eb75c6ecde00de4564fa93fe and let me know if it resolves the issues you mentioned?

[2016-04-11 09:20] #5 closed, assigned to stuwil

[2016-04-11 11:58] SaturnusDJ commented on #41
Sounds nice. Might be good to decide what we will do with this because it would take up quite some space when we do want the Instagram thumbnails integrated in the front end like Tinder mobile.

[2016-04-11 22:44] #35 closed, assigned to stuwil

[2016-04-12 02:47] stuwil opened #56 "Header menu displaying on login page"
Following refactor-frontend merge

[2016-04-12 02:47] stuwil opened #57 "Profile image / link missing"
Following refactor-frontend merge

[2016-04-12 02:48] stuwil opened #58 "Longer bios getting cut off by image grid"
Following refactor-frontend merge

[2016-04-12 02:50] stuwil opened #59 "Performance issue with thumbnail browsing"
Following refactor-frontend merge, introduced with 04bb507953f57bc8443c74f7673456a4f1e2cfd6.

On OS X 10.11.4, with nw.js 0.12.3, reproducible while swiping and then clicking thumbnails. Loads take between 1 and 3 seconds.

[2016-04-12 16:21] #56 closed, assigned to stuwil

[2016-04-12 16:54] mayeaux opened #62 "Moment no longer loaded"
After running bower install and npm install in desktop application I still get on master branch:

![screen shot 2016-04-12 at 10 52 02 am](https://cloud.githubusercontent.com/assets/7200471/14468433/d492d192-009c-11e6-8071-b16d460437dc.png)
![screen shot 2016-04-12 at 10 54 23 am](https://cloud.githubusercontent.com/assets/7200471/14468462/f60f91e8-009c-11e6-9c2e-b93f60398838.png)

[2016-04-12 17:34] #62 closed, assigned to stuwil

[2016-04-17 07:14] hanford opened #70 "Chat bubble size"
On my end, the chat bubbles seemed pretty huge
before: ![](http://d.pr/i/OPXp+)

after: ![](http://d.pr/i/126Uo+)

[2016-04-17 07:49] hanford commented on #70
Since we aren't resetting the CSS the browser automatically applies 10px margin to the `<p>` .. it's a lot relative to other services like iMessages, messenger.com, etc.. I think the smaller size is more consistent.

[2016-04-17 07:54] hanford commented on #59
+1

[2016-04-17 08:04] hanford opened #72 "Remove bower"
I can probably tackle this tomorrow.

Might make sense to move this project in to a more CommonJS structure too

[2016-04-17 08:18] hanford opened #73 "Sidebar person in Messages should have a 'selected' state"
I really like how http://messenger.com does it. I can add tomorrow.

[2016-04-17 08:21] #73 closed, assigned to nobody

[2016-04-17 17:50] #70 closed, assigned to nobody

[2016-04-17 20:47] hanford opened #74 "Clean up design of the messages page"
Hey guys, I can see myself spending a lot of time this application :p I want to make sure it looks neat too.

I did some minor UI tweaks to the messages page, thoughts?

<img width="1217" alt="screen shot 2016-04-17 at 1 41 22 pm" src="https://cloud.githubusercontent.com/assets/2148168/14589913/86fe2d82-04a2-11e6-91d6-66e6ad8deec2.png">
- Remove blacked unmatch heart, in favor of the right nav Unm

[2016-04-17 20:57] SaturnusDJ commented on #74
Match count is nice!
Msg bubbles look a bit full.

Concerning the UI, I am almost done with a reworked version (few days to go). Best would be to hold back for a while, otherwise much merge conflicts.

[2016-04-17 21:22] hanford commented on #74
@SaturnusDJ Should I open a new PR with just the total messages / messages header to address https://github.com/tinderjs/tinder-desktop/issues/7

[2016-04-17 21:30] SaturnusDJ commented on #74
Yeah would be nice if that got pulled, then I can see how it looks in the improved UI.

[2016-04-17 22:03] #7 closed, assigned to nobody

[2016-04-17 22:29] #24 closed, assigned to nobody

[2016-04-17 23:49] #74 closed, assigned to nobody

[2016-04-18 00:14] stuwil opened #79 "Auto-update functionality"
Or no one will ever update our beloved Tinder app.

[2016-04-18 00:16] stuwil commented on #22
Most of this is in #67, adding to release milestone.

[2016-04-18 01:08] #39 closed, assigned to stuwil

[2016-04-18 01:08] #59 closed, assigned to nobody

[2016-04-18 03:37] stuwil opened #81 "Replace Windows Installer"
The current Inno setup is pretty bad - wants admin privs to install to %LOCALAPPDATA%\Programs.

Related to #79.

[2016-04-18 16:48] stuwil commented on #72
Sounds good to me.

[2016-04-18 20:45] SaturnusDJ commented on #58
Fixed in improved UI I believe. Don't start to solve this one.

[2016-04-18 20:46] SaturnusDJ commented on #57
Fixed in improved UI. Don't start a fix for this.

[2016-04-19 15:26] stuwil commented on #3
Closing as we have the [Development Priorities](https://github.com/tinderjs/tinder-desktop/wiki/Development-Priorities) and release milestones now.

[2016-04-19 15:26] #3 closed, assigned to nobody

[2016-04-19 21:33] mayeaux opened #86 "Installation / build scripts"
Can we proxy `npm install` to a build script that will run our 2 `npm install` commands and also `bower install` ? I've done this on other projects with a lot of success, maybe we can map `npm build` to gulp as well

[2016-04-19 21:52] mayeaux commented on #57
Saturnus can you submit a PR for your improved UI?

[2016-04-19 21:55] SaturnusDJ commented on #57
Yes. Need to rebase first. @stuwil is helping me with that.

[2016-04-19 22:23] mayeaux opened #87 "Hide Tinder plus features if user doesn't have tinder plus"
From what I understand, we still show Tinder Plus features in the UI even if the user doesn't have Tinder Plus. We should either expose that variable globally ( $rootScope.userHasTinderPlus ) or access the current user from the discovery settings page and conditionally show things with `ng-show` depending on whether user has Tinder Plus.

[2016-04-20 06:22] #87 closed, assigned to nobody

[2016-04-20 06:36] stuwil commented on #2
Only partially resolved by #65 with proper session invalidation.

[2016-04-20 06:37] stuwil commented on #21
Only partially resolved by #65 with proper session invalidation.

[2016-04-20 07:47] hanford commented on #86
Potentially relevant: https://github.com/tinderjs/tinder-desktop/issues/72

[2016-04-20 17:03] hanford opened #93 "Use our own assets"
I have a _massive_ list of really high quality .svg icon's that I've paid for. We should remove font-awesome in favor of my set. I can Take some before / after screenshots.

We should also update the app icon / login page

[2016-04-20 18:24] SaturnusDJ opened #94 "EU date format for chat messages"
For distance there is KM and Miles.
Should be the same for time/date on the chat messages.

EU date format: 31-12-2016 23:00.

[2016-04-21 02:36] stuwil commented on #86
npm build is an internal command that can't be overwritten. It would have to be invoked as npm run-script build, which isn't much better than gulp build:all.

Can definitely hook into npm install though.

[2016-04-21 02:45] #86 closed, assigned to stuwil

[2016-04-21 20:32] run1t opened #98 "Use tinderauth"
It could be a good improvement to use the tinderauth repo to get the tokens, as is we don't have to login every times and can integrate the login form directly in the main window.

[2016-04-21 20:34] mayeaux commented on #98
Yeah, we could store the username and password as well. One thing to note is that tinderauth takes a while to run because ZombieJS is so slow, and it isn't super tested either, I'm not sure it's super robust

[2016-04-21 21:46] run1t opened #99 "Add a loader"
We should add loader in order to wait at least the response of the getAccount() method.

[2016-04-21 23:57] hanford commented on #99
@run1t agreed, Can I take this one? I want to integrate a youtube-esque loader 😎

[2016-04-22 00:07] run1t commented on #99
@hanford  Yes of course ;)

[2016-04-22 00:20] stuwil commented on #98
Hey guys,

I'd strongly urge against doing this. We should let Facebook handle user credentials... a few reasons:
1. In general, asking users for credentials to another application is super sketch, which is one of the reasons everyone uses OAuth.
2. We have nowhere we can _safely_ store the password, and the burden/liability of managing passwords for another app isn't something we should be dealin

[2016-04-22 01:26] stuwil opened #100 "Last swipe is lost when navigating to another page"
Each pass/like action on the swipe page is held in a queue until either the next swipe action, or 10 seconds passes, at which point the API call will be made. When you navigate to another page though, this queue is not flushed, and the API call for your last swipe is never made.

We should flush the queue when navigating to another page (and, if possible, when closing the app).

[2016-04-22 01:27] stuwil opened #101 "Superlike actions are not added to the swipe queue"
Superlikes currently aren't added to the API action queue on the swipe page, so they can't be undone.

[2016-04-22 01:32] stuwil opened #102 "i18n Support"
The UI should be translatable, for our non-native English speaking friends.

[2016-04-22 03:58] #2 closed, assigned to stuwil

[2016-04-22 03:58] #21 closed, assigned to stuwil

[2016-04-22 17:45] mayeaux commented on #101
I thought they were? I can fix this if not

[2016-04-22 17:52] run1t opened #103 "move swing to ng-swing"
The code who handle the cards is 1 years old and it's use the npm swing package but now there is a very good angular directive to do that : https://github.com/gajus/angular-swing , also the code is a little messy and can be shorted using this lib, in the same time it can solve #101 and #100.

[2016-04-22 18:51] run1t commented on #103
btw the last swing version is 3.0.2 and we use the 1.1.2

[2016-04-23 13:19] #94 closed, assigned to stuwil

[2016-04-23 14:50] #102 closed, assigned to stuwil

[2016-04-23 20:34] #10 closed, assigned to nobody

[2016-04-23 20:35] #17 closed, assigned to nobody

[2016-04-23 21:10] SaturnusDJ opened #114 "Remember matchlist parameters for after looking at a profile"
Remember 1) scrollbar position of matchlist and 2) opened match/chat when clicking messages page from a profile (opened via messages).

Browsing matches currently is annoying because every time after looking a profile, you get back at a 'reset' messages page.

[2016-04-24 13:56] #57 closed, assigned to SaturnusDJ

[2016-04-24 13:56] #58 closed, assigned to SaturnusDJ

[2016-04-24 20:05] mayeaux opened #122 "New matches don't show details immediately"
If I get a new match while swiping, or on the messages page, the new match doesn't immediately show extra message details.

[2016-04-24 20:08] mayeaux opened #123 "Update readme"
Explain bower is a dep for `npm install`
Explain using electron-prebuilt

Add new developers
Change the link directly to the heroku app for getting a slack invite

[2016-04-24 21:47] SaturnusDJ commented on #123
Yeah if bower is not automatically installed by `npm install` it should be explained. Then again, @hanford was working on removing bower so might not be needed to explain bower.

[2016-04-24 21:48] mayeaux commented on #123
Takes only 30 seconds to add it to the readme. I'll get this done sometime soon

[2016-04-24 22:55] mayeaux opened #125 "Time is in 24 hours when looking at specific messages"
<img width="271" alt="screen shot 2016-04-24 at 3 54 22 pm" src="https://cloud.githubusercontent.com/assets/7200471/14771093/f4029b88-0a34-11e6-91cd-e417431ff084.png">

We should use 12 hour time by default.

[2016-04-24 22:57] mayeaux opened #126 "Revert the navbar"
I think the navbar is better as with the icons only. We can have them in the middle of the screen. We also had support for showing superlikes remaining and undo functionality as well.

[2016-04-25 11:47] SaturnusDJ opened #127 "Show real likes left"
Previously the 'likes left' counter was based on a simple 100 minus swipes done calculation that even was not saved on quiting the app I believe. Tinder might have it in the API actually. On phone they show a half empty heart when it's almost over. Maybe something we can do with.

[2016-04-25 11:53] SaturnusDJ commented on #126
Max superlikes is 5?
We can show super likes left by showing it in the menu bar.
Amount of stars or one star plus number behind/before swipe button.
Kind of 'inviting' the user to use the super likes because they are special.

[2016-04-25 16:22] mayeaux commented on #127
If I remember, the API wasn't returning this call correctly so it was just staying at 100. Worth looking into though.

[2016-04-25 16:28] mayeaux opened #128 "Build system for windows / linux"
There's an additional step needed to create a binary for windows that can run which includes the dlls necessary

https://github.com/electron/electron/issues/5279#issuecomment-214422871

[2016-04-25 23:32] mayeaux opened #129 "Bug for signing out"
I'm skeptical about the token invalidation. I seem to get logged out of tinder-desktop everytime I check it, whereas in the past I could have it run for hours and hours without an issue. I think we're going a bit gung-ho on thinking the token is invalid and logging the user out, it definitely has broken usability in a pretty big way. Worth taking a look at / fixing

[2016-04-26 09:49] SaturnusDJ opened #130 "Super like activation bug"
Yesterday I tried to super like. Popup came saying I was out of super likes until 1:00:00. It was 0:45:00, so I decided to wait. When it was 1:02:00, I tried to super like but got the same notification saying I have to wait until 1:00:00.

(Times are rounded off but this is what happened.)

[2016-04-26 17:07] mayeaux opened #131 "Profile update page"
The only two things you can change on a profile are the bio and the pictures. (Not sure how the API handles order of pictures).

Pictures is a little more complex and would like to use the help of @run1t , bio is pretty simple though and can be completed really quickly.

[2016-04-26 19:46] mayeaux commented on #131
Already a ticket for this

[2016-04-26 19:46] #131 closed, assigned to nobody

[2016-04-26 19:46] #18 closed, assigned to nobody

[2016-04-26 19:50] mayeaux commented on #98
Yeah agreed, let's not even open that can of worms, if we fix the issue where we're logged out all the time we should be absolutely fine, those xAuthTokens that Tinder gives back are pretty hardy and can be used for quite a while.

[2016-04-26 19:50] #98 closed, assigned to nobody

[2016-04-26 21:37] mayeaux commented on #26
We can also hopefully alert new messages in the task tray

[2016-04-28 16:14] erickdeoliveiraleal opened #133 "Windows release missing dlls"
I downloaded the 0.1.0 release for windows here https://github.com/tinderjs/tinder-desktop/releases and when trying to install I got errors: node.dll missing and ffmpeg.dll missing.

[2016-04-28 16:49] mayeaux commented on #133
Yup, I discovered this last weekend as well

The solution is here: https://github.com/electron/electron/issues/5279#issuecomment-214806772

We've got to package it using a special module, if you want to submit a PR for it that'd be great otherwise I'll likely have a chance to do it this weekend

[2016-04-29 05:50] mayeaux opened #134 "Message suggestions from Cleverbot"
No more typing, no more thinking up responses. Let's have Cleverbot do it for us.
- Write an API for making a call to Cleverbot and receiving four responses as an object [X]
- add the functionality to tinder-desktop, and then console log the responses [_]
- add the responses to a scope variable, pass it to the frontend [_]
- add the div under messages, automatically generate and fill four boxes wi

[2016-04-29 07:04] mayeaux commented on #129
https://github.com/tinderjs/tinder-desktop/pull/91/files

Here's where the bug was introduced

It doesn't matter if the FB token expires, the xAuthToken that's returned is much more hardy anyways and that's what's used to call the API

[2016-04-29 07:05] mayeaux opened #135 "Bug with 'new match'"
Even if it's not a new match, my latest match is alerted to me everytime I boot the app. The logic that checks if the match is new based on lastActivityDate is bugged

[2016-04-29 12:05] SaturnusDJ commented on #135
Happens over here after resign in via Fb. Last match always notified about.

[2016-04-29 16:19] mayeaux commented on #135
Yeah, so I'm pretty sure that there is a concept of 'lastActivityDate', which is obviously not being updated or something like that, we'll see, relatively low in priority scale but it's kind of annoying.

[2016-04-30 18:00] mayeaux opened #136 "Show the amount of pending messages in the taskbar ala Facebook Messenger"
We should be able to show for each instance of Electron that is running how many pending messages there are (the integer). I can't find docs for this anywhere though! Help appreciated on this one

[2016-05-07 18:31] mayeaux commented on #129
Fixed in latest commit.

There should be functionality that detects when a token expires but this isn't it. The `xAuthToken` we get from Tinder lasts a long time, we rarely have to change it.

[2016-05-07 18:31] #129 closed, assigned to nobody

[2016-05-07 21:37] mayeaux opened #137 "When hovering over Windows app in tray, it's called 'Electron' not Tinder Desktop"
At least it does in Parallels, will check on another computer

[2016-05-07 21:38] mayeaux opened #138 "Notifications are bugged, should be disabled"
Notifications are sending messages for a 'new' match for all matches in some cases.

This is freezing up the windows app, it should be disabled in the meantime.

[2016-05-07 21:51] mayeaux commented on #133
Had a chance to fix this today.

Will get an executable up tomorrow 👍

[2016-05-30 11:05] rihards99 opened #139 "Site unaccessible"
The trial period for [http://tinderjs.ghost.io](http://tinderjs.ghost.io) seems to have ended thus the site is effectively down. Might be a good idea to make a github page.

[2016-05-30 22:14] mayeaux commented on #139
Hey thanks for bringing this up. I've actually deployed a ghost instance on Heroku and am going to change the DNS settings to point the domain there, will get it done this evening, thanks for the heads up. 👍

[2016-05-31 16:39] mayeaux commented on #139
Hey sorry @rihards99 was watching the game last night (totally crazy). You can download the Windows/Mac version from the releases here in the meantime but I can get that fixed quickly.

[2016-06-07 13:25] edglazer opened #140 "Stopped working on Mac 10.11.5"
Hey,
I was super impressed with this update of the tinder++ desktop app. Built it and got it running pretty much immediately a little over a week ago on OS X 10.11. Probably a day or 2 later, when launching the message "Loading" appears and the icon spins and spins. Previous messages appear, but no new matches since the initial launch success. Profile and discovery don't appear to be pulling the d

[2016-06-07 14:08] mayeaux commented on #140
Huh, weird. You're deffo using the compiled version because those are Objective-C errors. How technical are you? I'd say rebuild the app and try that, or just use `gulp run` to run it with gulp as opposed to an executable binary.

[2016-06-08 20:21] Traumflug opened #141 "Build fails on Ubuntu 64-bit (and likely others)"
Just gave this nice project a try, but unfortunately I didn't get far:

[code]

After downloading a number of packages, it stops with this error message:

[code]

This is the log file (extension added to satisfy Github) [npm-debug.log.txt](https://github.com/tinderjs/tinder-desktop/files/305609/npm-debug.log.txt)

Being a command line (and Makefile, Assembly, C, Bash) savy user I don't mind buildi

[2016-06-08 20:24] mayeaux commented on #141
Do you have `nodejs` installed?

[2016-06-08 20:26] run1t commented on #141
to use nodejs on ubuntu you have to do a symlink on the nodejs binary, take a look a this :
http://stackoverflow.com/questions/18130164/nodejs-vs-node-on-ubuntu-12-04?answertab=votes#tab-top

[2016-06-08 20:26] mayeaux commented on #141
It looks like the script is failing because it's calling `node install.js` whereas with Ubuntu `node` is distributed as `nodejs`. Maybe add a symlink

[2016-06-08 20:26] mayeaux commented on #141
Haha you beat me to it by literally two seconds @run1t

[2016-06-08 21:03] Traumflug commented on #141
Thanks for the hint, very appreciated! So I did this and it appears to work even less:

[code]

[2016-06-08 21:24] Traumflug commented on #141
Stupid me, `node .` was the wrong attempt, of course. Finally the process completed with this sequence:

[code]

At this point it occured to me that I forgot to pass 'run' to gulp. But instead of an error message I got a window asking for a Facebook login. This means the app is running properly, right?

Anyways, thanks for your help. Perhaps the above sequence find its way into the Readme on the p

[2016-06-08 21:30] run1t commented on #141
If you have the facebook login, it's good. You're right we should add this sequence in the readme. I'll probably do that tomorrow !

[2016-06-09 00:02] #141 closed, assigned to nobody

[2016-06-15 13:42] edglazer commented on #140
Looks like running 'gulp run' from the main directory throws this error:
stderr: App threw an error when running [TypeError: Cannot read property 'buildFromTemplate' of undefined]

But Electron starts and shows this error window:
Uncaught Exception:
TypeError: Cannot read property 'buildFromTemplate' of undefined
    at Object.<anonymous> (/Users/xxxx/Dev/tinder-desktop-master/desktop-app/main.js:

[2016-06-16 20:59] EvanWillms opened #142 "Google Maps API warning: NoApiKeys"
The Google Maps Places API now needs an API key in the library load:
https://developers.google.com/maps/documentation/javascript/places#loading_the_library

[2016-06-17 16:41] mayeaux commented on #142
Two options:
- Use a different library
- Get a key that everybody can use

Any suggestions?

[2016-06-17 22:27] mayeaux commented on #142
Actually, the module still works fine, it just complains and gives a warning. I don't really think anything needs to be done on this front, lmk what you're thinking.

[2016-06-17 22:27] #142 closed, assigned to nobody

[2016-06-17 23:31] mayeaux commented on #140
Were you able to get this working?

[2016-06-17 23:32] mayeaux commented on #139
Should be working fine now, but I am in the process of migrating to another site. Thanks for the heads up.

[2016-06-17 23:32] #139 closed, assigned to nobody

[2016-06-17 23:45] mayeaux opened #143 "Automatically hop to text input when clicking on a match"
When a match is opened, we should place the cursor on the text input automatically

[2016-06-20 14:35] edglazer commented on #140
Nope, but after trying to both rebuild the .app and separately using `gulp run` it looks like the that TypeError only has to do with running from gulp (for some reason?). I just figured out I can view dev tools in electron. The compiled app runs, so looking at the console in dev tools, I see the spinning cursor is coming from an error in the tinder-desktop.api.js line 14 & 15. Just looking at it,

[2016-06-27 14:06] edglazer commented on #140
This appeared to get things running again: The tinder-desktop.api.js lines 18-29 were commented out, but were clearly meant to handle expired tokens for facebook and/or tinder. I uncommented the relevant lines, then rebuilt the desktop app and now its back in action.

Thanks again, this is great!

[2016-06-27 14:06] #140 closed, assigned to nobody

[2016-07-09 20:22] erickdeoliveiraleal opened #144 "Show people and number of people removed you since last time you checked"
Show people and number of people removed you since last time you checked, like 6tin 💃

[2016-07-27 10:10] littlethoughts opened #146 "Variable names showing up (SWIPE.AWAY...)"
On profiles, directly after startup it says "14 km SWIPE.AWAY, SWIPE.ACTIVE 1 hour ago" and left of the loading icon it shows "SWIPE.LOADING".
After clicking on messages and going back, they are replaced with their correct counterparts (away, active, loading).

Using version 0.1.0 on Mac OSX Yosemite.

[2016-08-07 20:52] nao-de opened #147 "Link to website not working in description"

[2016-08-08 16:25] mayeaux commented on #146
Can you post a screenshot?

[2016-08-08 16:38] mayeaux commented on #144
Good idea for a feature for sure. I'm not actively developing on this project but I'm happy to merge code if someone else is.

[2016-08-08 16:43] mayeaux commented on #147
Thanks for the reminder, fixed!

[2016-08-08 16:43] #147 closed, assigned to nobody

[2016-08-08 21:15] littlethoughts commented on #146
Sure! Here you go:

![bildschirmfoto 2016-08-08 um 23 06 56](https://cloud.githubusercontent.com/assets/1949201/17496483/d9102656-5dbd-11e6-9fd0-1a395ddd3c9f.png)
![bildschirmfoto 2016-08-08 um 23 09 22](https://cloud.githubusercontent.com/assets/1949201/17496484/d91337a6-5dbd-11e6-9296-e78fbe0ca197.png)

[2016-08-11 04:23] veryexoticdancer opened #148 "can not login!"
First it said "You are not logged in: You are not logged in. Please log in and try again."
Then when I try to reload it several times, to login successfully,
It said "URL Blocked: This redirect failed because the redirect URI is not whitelisted in the app’s Client OAuth Settings. Make sure Client and Web OAuth Login are on and add all your app domains as Valid OAuth Redirect URIs."

I heard there

[2016-08-11 04:57] SaturnusDJ commented on #148
@paulxuca has found a fix. Will you open a PR Paul?

[2016-08-11 08:37] veryexoticdancer commented on #148
@SaturnusDJ @paulxuca can you link me the download link? ... or anyone please give me a download link for the fix, thank you

[2016-08-11 08:48] SaturnusDJ commented on #148
@veryexoticdancer
There is no download yet. Not even an applied fix.

Just wondering, where did you get the previous working version? And was it Tinder++ or Tinder Desktop?

[2016-08-11 08:53] veryexoticdancer commented on #148
it was plusplus, but it stopped working and now I check tinderdesktop and it has the same login error! so it is universal!

[2016-08-11 09:01] SaturnusDJ commented on #148
Alright. We have to wait for someone who knows Javascript well.

[2016-08-12 07:21] tadzik commented on #148
It's the same for [other 3rdparty tinder clients](https://openrepos.net/content/minitreintje/sailfinder), seems like something screwed on facebook/tinder side that needs changes everywhere. Fwiw, the official tinder app stopped working for me too :/

[2016-08-12 22:14] mayeaux commented on #148
Yup, and @paulxuca has a fix that he's using in one his own modules, but hasn't slapped it into tinder-desktop. It'd probably take a few hours, but I must say I don't use tinder-desktop anymore so I don't have a big incentive to do it! Probably if you offered myself or Paul some PayPal dollars we would be more motivated to fix it for everybody but I have to say it's kinda low on my priority list a

[2016-08-13 01:09] SaturnusDJ commented on #148
@stuwil @run1t
You have some time maybe?

[2016-08-13 05:05] baskervald commented on #148
I was planning on writing a sloppy fix for myself, honestly, so when I'm done I'll share that. I have no real plans of cleaning it up given for me it's just a quickfix, though.

[2016-08-15 04:18] mfkp commented on #148
Here's my fix for this one, should be pretty straightforward to port it over to `tinder-desktop.login.js`

https://github.com/mfkp/tinderplusplus/commit/0a7cf59e4969c89ceb7836d28255b95e34ce6035

[2016-08-15 05:09] SaturnusDJ commented on #148
Hey mannn, welcome back!

Replacing as you did for T++ doesn't seem to work for TD. :(

[2016-08-15 05:11] mfkp commented on #148
Thanks, got a ton of emails about it, figured it needed a fix.

What seems to be the problem? It looks like you'll also need to parse out the `expires_in` value, since you're using that as well.

[2016-08-15 05:15] SaturnusDJ commented on #148
So still a lot of users, nice.

I have no idea how to fix it. I'm the CSS guy. No JS.

[2016-08-15 08:40] veryexoticdancer commented on #148
@mfkp thank you.

[2016-08-15 09:30] SaturnusDJ commented on #148
@mfkp
Do you know the TD fix?
I've played around with removing the line and related ones but didn't get into the app.

[2016-08-15 16:24] mayeaux commented on #148
Okay thanks for the update @mfkp . Will try and get this up and running within the next couple days.

[2016-08-15 17:01] mayeaux commented on #148
Yeah @mfkp I see the flow you're using, but my flow never redirects to `https://m.facebook.com/v2.6/dialog/oauth/confirm` and thus (as far as I can see) I never am able to access the token. If you're around would help to go back and forth a couple times til I get it figured.

[2016-08-15 17:14] mfkp commented on #148
It should redirect to that after they authorize the tinder permission, or
hit OK to confirm they have already authorized it. Does that not happen for
you?

On Aug 15, 2016 10:01 AM, "Anthony Mayfield" notifications@github.com
wrote:

[2016-08-15 17:16] mayeaux commented on #148
No, it doesn't do that for me. It doesn't do it on Tinder++ either, and thus doesn't log me into Tinder++ either

[2016-08-15 17:21] mfkp commented on #148
Hm, that's strange, it's been working fine for me. Could it be an issue
with the Facebook account you're using? Have you tested with another
account?

On Aug 15, 2016 10:16 AM, "Anthony Mayfield" notifications@github.com
wrote:

[2016-08-15 17:33] mayeaux commented on #148
Just tested with another acct. Same thing. Can't get developer tools to open either with NW.js so I can't really poke around and test things. We'll see, I do get this error coming through when I use NW.js

[code]

maybe it's related, not sure.

[2016-08-15 17:45] mayeaux commented on #148
Hm, I just tried it with NW 0.11.6 and it worked. So probably the version of Chromium being different is causing it. 🤔

[2016-08-15 17:46] mfkp commented on #148
Yeah, I do have the version locked at 0.11.6 because they made some
breaking changes after that. Been a long time, so I don’t remember exactly
what it was.

On August 15, 2016 at 10:45:52 AM, Anthony Mayfield (
notifications@github.com) wrote:

Hm, I just tried it with NW 0.11.6 and it worked. So probably the version
of Chromium being different is causing it. 🤔

—
You are receiving this because yo

[2016-08-15 19:44] mayeaux commented on #148
Yeah it's weird that the later versions of Chrome/Chromium don't redirect properly (since tinder-desktop uses electron now). I may investigate it a bit, or @litdevelopers has an implementation here:

https://github.com/litdevelopers/tinder/blob/master/server/api/facebookAuth.js
https://github.com/litdevelopers/tinder/blob/master/server/api/api.js

That's a little bit overly complex (could probably

[2016-08-16 01:15] mayeaux commented on #148
Spent a couple hours on it today with no luck.

If you guys can solve: http://stackoverflow.com/questions/38960592/facebook-oauth-redirect-not-working-properly-with-later-versions-of-electron

I can get it working np. Without that though it looks like it either won't work or the implementation to make it work will be pretty horrendous.

[2016-08-16 20:33] #148 closed, assigned to nobody

[2016-08-17 00:22] SaturnusDJ commented on #148
Alright, thanks @stuwil ❤️

I've updated my compiled version for Win at http://members.home.nl/saturnusdj/Tinder_Desktop
Tested to be working at main and win7 VM.
@veryexoticdancer
Maybe interesting for you to try Tinder Desktop

OSX hopefully later today.

[2016-08-17 01:26] SaturnusDJ opened #150 "npm install on OSX fails"
Os-locale and tinder have to be installed manually. But even when doing this, the build process fails too.

I guess it has something to do with desktop-app/package.json or the call to it.

I didn't try on Windows from scratch yet since I have that running stable for a few months.

[2016-08-17 15:42] SaturnusDJ commented on #148
OSX up too.

[2016-08-18 10:00] SaturnusDJ commented on #148
@stuwil
I think there is still some kind of bug. Sometimes chats don't get updated and profiles don't load. Clearing cache and signing in, and it works for 'a while' again.
As if Auth fails, but this time the GUI doesn't tell the user, and neither signing him/her out automatically, as before.

[2016-08-19 06:31] veryexoticdancer commented on #148
@SaturnusDJ I will try when it is stable, hearing that it doesnt update chat and profiles sometimes doesn't load made me a bit scared to try it.

[2016-08-26 21:36] nao-de commented on #147
Just a heads up, the Heroku app it links to is down now.

[2016-08-26 23:28] mayeaux commented on #147
Yeah I had a really popular free app on Heroku and am now out of free hours 🙈 gonna contact Heroku about it

[2016-08-27 11:39] SaturnusDJ commented on #148
Definitely some stuff is broken. Like logout doesn't work (-> manually remove cache folder). And the non-updating TD might be because it only allows one active computer (->resign in).

That said, at least for me, even with these downsides, I got too used to the functionality, bigger profile pictures etc, so I'll continue using. Dropping small css update later today.

[2016-08-28 01:39] SaturnusDJ opened #151 "Downloads available here"
Anyone still in for TD can get it from the link bellow.
This is until it really breaks down and nobody repairs.

http://members.home.nl/saturnusdj/Tinder_Desktop/

[2016-09-09 18:33] galaxy-nomad opened #153 "Not Logged In: You are not logged in. Please login and try again."
On Yosemite 10.10.5 with VPN running. When I try to log in to FaceBook I get a white pop-up window that says "Not Logged In: You are not logged in. Please login and try again." There is nothing else in this window, no FaceBook log-in button etc...

[2016-09-09 18:41] mayeaux commented on #153
Did you download an executable from Releases? Or how are you running the app?

[2016-09-09 19:01] galaxy-nomad commented on #153
First I downoad the app at http://tinderplusplus.com/ and that would not login to FaceBook. It opened a blank white Safari like browser window with no information in it. Next I downloaded the app at https://tinderjsblog.herokuapp.com/download/ and that gave me the issue I reported here. Now I'm downloading the app at http://members.home.nl/saturnusdj/Tinder_Desktop/ and that one appears to success

[2016-09-09 20:49] galaxy-nomad commented on #153
As a fourth option I just tried the Mac version in your releases section and it gave me the same error as I posted in the thread title.

[2016-09-10 10:22] toinbis commented on #153
Same error here. Both by downloading OSX application as well as launching it from the terminal with "gulp run".

[2016-09-10 10:29] toinbis commented on #153
Same error on Widows

[2016-09-10 11:34] galaxy-nomad commented on #153
Version 0.1.0 Beta works perfectly. I just can't use it with VPN enabled. The official Tinder app for iOS does not work wth VPN either so it must be an issue with the Tinder API.

[2016-09-11 08:35] toinbis commented on #153
Just to add that in my case no VPN was being used at all. I simply can not get the app working. Any way to see the logs and find the cause of an error?

[2016-09-11 13:46] galaxy-nomad commented on #153
@toinbis Are you on a Mac? If so make sure to use the 0.1.0 Beta. I had positive results with that build as long as VPN was disabled:-)

[2016-09-15 16:01] edglazer commented on #153
I have to manually delete my tinder token each time to get it to work. This is on a mac (10.11.6, version 0.10.0)

First, by selecting View > Toggle Developer Tools. Then selecting (from Resources) Local Storage > file:// > TinderToken and clicking on the 'delete' X towards the bottom window.

Then I have to quit and restart the program and give facebook permission again and it works fine.

[2016-09-19 04:41] SaturnusDJ commented on #153
@edglazer
Same here otherwise the app data won't update.
You can make this process more simple by creating a batch file that deleted all TD data. Then start TD.
The folder is in %APPDATA%/Roaming I believe, for Win.
For Mac in your user folder Library/Application Support/Tinder Desktop.

[2016-10-04 01:35] galaxy-nomad commented on #153
Just an update I may have been mistaken above because now the latest beta 0.1.0 doesn't work. The one that is working currently is at http://members.home.nl/saturnusdj/Tinder_Desktop/

[2016-10-21 20:29] mayeaux commented on #153
I'll update the executables this weekend.

[2016-10-21 20:29] #153 closed, assigned to nobody

[2016-10-21 20:29] mayeaux commented on #150
Still broken?

[2016-10-21 20:30] mayeaux commented on #146
Still broken?

[2016-10-25 12:39] richcn opened #155 "can update avatar and bio?"
can change/update avatar and account's bio?

[2016-10-26 15:59] mayeaux commented on #155
Nope but these methods are exposed via https://github.com/tinderjs/tinderjs if you want to submit a PR I will merge it!

[2016-10-26 15:59] #155 closed, assigned to nobody

[2016-11-05 23:04] siers opened #156 "Bower as a dependency"
The `README` suggests I should `npm install`, but it requires bower to be present, which took me a long time to figure out. Perhaps it should be mentioned?

[2016-11-29 04:08] baskervald commented on #22
I added edit bio functionality to the already existing profile page with #157. Planning to add photo uploading when I have the time.

(sorry if this is the wrong issue to discuss this in? It was linked to from Development Priorities with a link titled "Add edit bio functionality")

[2016-12-06 18:08] #143 closed, assigned to nobody

[2016-12-09 18:50] mayeaux commented on #156
Done, thanks!

[2016-12-09 18:50] #156 closed, assigned to nobody

[2016-12-14 18:52] glacejoshua commented on #5
is this still up? btw im new here.. just want to know what recs exhausted really mean? thanks!

[2016-12-28 10:31] Marooned-MB commented on #148
This is still not working. Probably settings for client_id=464891386855067 are wrong in Facebook?
The error is the same as in 1st comment.

Change from https://github.com/tinderjs/tinder-desktop/issues/148#issuecomment-239726776 did not worked either. Got a popup that I've already authorised Tinder app, but there is no redirection nor token available to grab from page url/body.

[2016-12-29 00:44] SaturnusDJ commented on #148
Are you using my compiles?

http://members.home.nl/saturnusdj/Tinder_Desktop
Should work, except for the bug described on that page.

[2016-12-29 15:02] Marooned-MB commented on #148
Nope, I did not. I can see it's .exe and I'm quite restricted here on running executables. It's nothing I need - just wanted to give it a try, got error and report it. No big deal without that app. Thanks.
[edited]
Ok, found your repo and run from sources. Got some error after logging in but after rejecting it the app seems to be working fine. Thanks again!

[2016-12-31 06:55] mayeaux commented on #148
Perfect, glad to hear! Enjoy!

[2017-01-03 09:31] amosshapira commented on #123
Yep, I'm not familiar with the `npm` eco-system and had to figure out to manually execute `npm install bower` from the error message I got from `npm install` while I was following the instructions in the README.

I don't see any downside for adding this step until Bower dependency is removed.

[2017-01-09 18:22] jackbarham opened #161 "NPM Install script is failing"
I've tried several times to run `npm install` and I get the following error at the end of the install process:

[code]

I've also removed the `node-modules` folder then `sudo npm install --unsafe-perm` and get the same error.

[2017-01-09 18:24] mayeaux commented on #161
`bower install && cd desktop-app && npm install`

Here's the command that it's running
Can you try running `bower install` separately and see what you get?

[2017-01-09 18:26] jackbarham commented on #161
It seems to have thrown back a permissions issue:

[code]

I tried `sudo` first and which didn't work

[2017-01-09 18:27] mayeaux commented on #161
Yeah something is up with your bower installation. Troubleshoot that, I haven't seen this personally myself before.

[2017-01-09 18:28] jackbarham commented on #161
Think I might have fixed it...

[2017-01-09 18:30] jackbarham commented on #161
If it helps anyone else, this fixed it for me: https://github.com/bower/bower/issues/2262#issuecomment-216015078

[2017-01-09 18:43] #161 closed, assigned to nobody

[2017-01-09 18:43] mayeaux commented on #161
Yeah, if I revisit this project I'll consider revamping the install process, if you want to make it simpler feel free to and then submit a PR, up to you👍🏻

[2017-01-09 18:45] jackbarham commented on #161
I'm more of a UI designer and would like to tidy it up more in-line with the native app. However, in the meantime how do you 'Superlike' and 'Undo'?

[2017-01-09 22:21] mayeaux commented on #161
Undo: Backspace
Superlike: Shift right
Surprised it's not in the docs anywhere. Hm 🤔

[2017-01-09 22:23] jackbarham commented on #161
Thanks, I did eventually find it in the code.

[2017-01-09 23:11] mayeaux commented on #161
If you want to add some docs for instructions I'm happy to merge it 👍🏻

[2017-01-26 03:59] rebroad opened #164 "Keep losing authorisation"
I have to keep re-authorising the app with Facebook - I'm unsure how long the authorisation lasts, but it seems to last perhaps a day at the most. I can provide more accurate timings if need be.

[2017-01-26 18:48] mayeaux commented on #164
There's some code in the app somewhere to refresh the auth token automatically but I commented it out because it seemed to be buggy. You might want to check that code, I'm pretty sure we can tell when a token is expired because the calls will start logging to the console as being unauthorized.

[2017-02-15 11:38] thundergolfer opened #165 "Clicking "Login with Facebook" does not work"
I have downloaded the app for Mac, and when I click on the "Login with Facebook" button I get the following error message.

[code]

There's no button to do anything on the panel, and this clearly seems like a bug.

[2017-03-01 05:16] HaleTom opened #166 "Screenshots are empty"
https://tinderjsblog.herokuapp.com/screenshots/ has no screenshots.

 Having them will help with community engagement.

[2017-03-02 09:42] gdborton commented on #123
I believe that this can be closed. I see that bower is in the README.

[2017-03-30 01:35] ijcuevas2 opened #169 "Incorrect "Last Active Time" Displayed"
The last active time for every user is 2 years or 842 days, which does not really make sense.

[2017-04-03 18:45] benpalevsky commented on #165
I'm having the same issue- although I would add that I'm not sure if it is a bug or my own lack of understanding.

[2017-04-10 20:05] mayeaux commented on #165
Hm, I just tried and worked fine for me. Are you guys still having issues?

[2017-04-11 23:20] #169 closed, assigned to nobody

[2017-04-12 17:10] dClauzel commented on #165
Yes, issue is still here. Tested with latest release on MacOS.

<img width="1242" alt="capture d ecran 2017-04-12 a 19 08 13" src="https://cloud.githubusercontent.com/assets/156704/24970144/861e1f08-1fb3-11e7-9d3c-e13b1e4e7d36.png">

[2017-04-17 17:40] cihati opened #171 "gulp run doesn't work on Mac"
I'm on Mac OS 10.10.5

[code]

<img width="415" alt="screen shot 2017-04-17 at 18 39 45" src="https://cloud.githubusercontent.com/assets/461998/25097657/529356ba-239d-11e7-9306-ce79399a4f7b.png">

[2017-04-26 16:41] ijcuevas2 commented on #171
![image](https://cloud.githubusercontent.com/assets/15114875/25445862/31d61f1e-2a75-11e7-9232-cc1129081b7f.png)

It also doesn't work on Ubuntu 16.04.2 LTS anymore either.

[2017-05-01 13:10] alex-fgsfds commented on #165
Same on Windows.

[2017-05-06 18:01] end1an commented on #165
same !!

[2017-05-10 17:07] mohamed-ahmed opened #172 "Not logging in on mac"
Login isn't working

Getting error
`stderr: [57596:0510/130025:INFO:CONSOLE(6)] "Uncaught TypeError: Cannot read property 'getInstance' of undefined", source: https://m.facebook.com/v2.6/dialog/oauth....`

[2017-05-19 13:21] hstarmans opened #173 "not working on ubuntu"
I can only run the backend on ubuntu, the frontend does not load. I get the error;
browser_main_loop.cc(217)] Running without the SUID sandbox! See https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md for more information on developing with the sandbox on.

[2017-07-14 03:32] synthetrash commented on #165
Same. Never could it get beyond that step i.e. never entered login credentials. However [this old version](https://github.com/tinderjs/tinder-desktop/issues/153#issuecomment-251273868) does work.

[2017-07-17 09:43] SaturnusDJ commented on #165
Remember this project is dead unless @stuwil or other expert comes to the rescue.
Try my version which contains a fix, also by @stuwil I think: http://members.home.nl/saturnusdj/Tinder_Desktop/

Meanwhile there is another bug that freezes the app and even after restarts stops updating your Tinder data, therefor you need to clear the cache at every start: https://github.com/SaturnusDJ/tinder-deskto

[2017-07-17 09:45] SaturnusDJ commented on #172
https://github.com/tinderjs/tinder-desktop/issues/165#issuecomment-315710172

[2017-07-17 20:14] synthetrash commented on #165
I am confused (and new here on github). But is'nt your versions last commit even longer ago than on this one?
Also relevant:

[2017-07-17 20:23] SaturnusDJ commented on #165
It is. But it should at least work. Although you need to restart every 10 minutes and clear the cache folder at startup. Sucks, but again: it's working. Other option: download BlueStacks and install Tinder (and FakeGPS if you like that).

If you want to develop then stay here and work on a fix. If you want to use Tinder, grab my installer and make a clear cache folder on startup script or go BlueS

[2017-08-09 04:53] mayeaux commented on #172
I'll have some time to take a look at this this week.

[2017-12-17 19:33] SaturnusDJ opened #174 "1080px photo's available"
For quite a while now Tinder is able to show 1080x1080 pixels photos. TD is using up to 640x640 currently. How are the photos being called upon by the app? The resolutions seem not to be specified anywhere.

[2018-02-13 22:27] SaturnusDJ commented on #174
Kick. Who knows?

[2018-02-18 21:16] SaturnusDJ opened #175 "@Marooned-MB errors"
@Marooned-MB hey bro trying to run your version but getting errors. After downloading the repo and running "npm install && gulp run" this is the output:

[2018-02-20 10:06] Marooned-MB commented on #175
Hey, thanks for the report. I'm away from my pc for a week or so, I'll check it soon.

[2018-02-23 15:28] SaturnusDJ commented on #175
Great, take care.
When your repo is working for me I will fork it and apply my CSS and probably remove some general things that seem obsolete to me.
Or we can start a version together. My js skills are still zero though.
Would be nice to make this app 'Single Page Application' with working back buttons. (Open profile of match from convo and use back button to go back into convo. Show active tab, e

[2018-03-01 19:47] Marooned-MB commented on #175
Well, I have downloaded whole repo from scratch, did install and run.. no problems whatsoever,
I'm using node.js v6.9.4 - maybe this will help?

I'm not using Tinder anymore [ ;-) ] so development of this branch is frozen. Feel free to use my changes if you find them helpful.

[2018-07-15 07:57] SaturnusDJ opened #176 "'Confirm Login' window - App dead?"
Recently Facebook apparently changed something once again...
A 'Confirm Login' window appears. But it stays empty.
No way to use the app now any more.

[2018-09-11 22:32] User65k commented on #176
I changed line 39 of _./desktop-app/js/tinder-desktop.login.js_ from `v2.6` to `v2.7`:
[code]
seems to work

[2019-04-06 03:55] galuh1300d commented on #176
Still Doesn't work

[2019-06-17 01:40] ghost opened #177 "Windows asks what program will I want to use to open this program after loguin confirmation?"
after pressing login and entering the facebook credentials windows pops up an annoying

![imagen](https://user-images.githubusercontent.com/48602294/59573036-3c7dcf80-90b1-11e9-8eac-ced7adfa9089.png)

cant figure out why this be, but I am really noob not to say the least

I hope asking this here is a good idea, apologies if it is not :'(

thanks a lot. Been trying to use the app to see if I can wo

[2019-08-11 22:04] #177 closed, assigned to nobody

[2019-12-11 07:54] hanford commented on #72
lol

[2019-12-16 00:04] #72 closed, assigned to hanford